p{color:rgb(231, 132, 11);}
h1{color:blueviolet;}
ol{color:chocolate;}
ul{color:cadetblue;}
.list{color:blanchedalmond;}
.hallo{color:crimson;
margin:34px ;
border-style:double;
border-color: darkgoldenrod;
border-radius: 30px;}
#header{color:chartreuse;
text-align: center;}